.footer {
  padding: var(--vertical-gap) var(--horizontal-padding);
  background-color: var(--primary);
  color: var(--off-white);
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-end;

  .newsletter {
    h2 {
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    .fields {
      display: flex;
      gap: 1rem;
    }
  }
}
