@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  // --charcoal: #323232;
  --charcoal: #353535;
  --white: #dcdcdc;
  --black: #262626;
  --red: #e91c00;
  --inactive: rgba(233, 28, 0, 0.1);

  --border-size: 1px;
  --footer-height: 2rem;
  --header-height: 5.5rem;
  --vertical-padding: 5.5rem;
  --horizontal-padding: 4rem;
  --hover: 0.25s ease-in-out;
  --max-width: 1500px;
  --rounded-edges: 8px;
  --vertical-gap: 1.5rem;
  --vertical-offset: calc(var(--header-height) + 1rem);
  --adjusted-side-padding: calc(var(--horizontal-padding) + 1rem);

  --view-height: 100dvh - var(--header-height);
  --scroll-offset: calc(var(--header-height));

  --input-bg: var(--charcoal);
  --input-radius: var(--rounded-edges);

  @media screen and (max-width: 800px) {
    --horizontal-padding: 2rem;
    --vertical-padding: 7rem;
  }
}

body {
  font-family: 'IBM Plex Sans', sans-serif !important;
  font-size: 16px !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
  height: 100% !important;
  color: var(--white) !important;
  letter-spacing: 1px !important;
  line-height: 1.2 !important;
  background-color: var(--charcoal) !important;
}

main {
  margin: 0 auto;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr auto;
  color: var(--white);

  h1 {
    font-weight: 800;
    font-size: 1.4rem;
    color: var(--white);
    line-height: 2rem;
  }
}

.fullViewSection {
  width: 100%;
  scroll-margin-top: var(--scroll-offset);
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

.pageContent {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--horizontal-padding);
  width: 100%;
}

.callToAction {
  border: var(--border-size) solid var(--off-black);
  border-radius: var(--rounded-edges);
  background-color: var(--red);
  color: var(--off-black);
  transition: var(--hover);
  padding: 0.5rem;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background-color: black;
    color: var(--red);
  }

  &:disabled {
    color: var(--charcoal);
    background-color: var(--charcoal);
    cursor: not-allowed;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.card {
  padding: 2rem;
  border: 1px solid var(--charcoal);
  border-radius: var(--rounded-edges);

  border: 1px solid var(--black);
  background-color: var(--white);
  color: var(--black);
  height: fit-content;
}

.citation {
  margin-top: 1.5rem;
  padding: 1rem 1rem 0 1rem;
  border-top: 2px solid var(--red);
  width: fit-content;
  color: var(--black);
}
