@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #245b94;
  --secondary: #4285f4;
  --off-white: #e7f2fe;
  --dark-text: #1d4c7a;
  --accent: #d1e3fd;

  --charcoal: #323232;
  --white: #dcdcdc;
  --black: #262626;
  --red: #e91c00;

  --border-size: 1px;
  --footer-height: 2rem;
  --header-height: 5.5rem;
  --vertical-padding: 5.5rem;
  --horizontal-padding: 4rem;
  --hover: 0.25s ease-in-out;
  --max-width: 1500px;
  --rounded-edges: 8px;
  --vertical-gap: 1.5rem;
  --vertical-offset: calc(var(--header-height) + 1rem);

  @media screen and (max-width: 800px) {
    --horizontal-padding: 2rem;
    --vertical-padding: 7rem;
  }
}

html,
body {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100%;
  color: var(--white);
  letter-spacing: 1px;
}

main {
  padding: var(--vertical-padding) var(--horizontal-padding);
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr auto;
  background-color: var(--charcoal);
  color: var(--white);
  line-height: 1.5;

  h1 {
    font-weight: 800;
    font-size: 1.4rem;
    color: var(--white);
    line-height: 2rem;
  }
}

.fullViewSection {
  min-height: calc(100dvh - var(--vertical-offset));
  scroll-margin-top: var(--vertical-offset);
  margin-top: 1rem;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

.callToAction {
  border: var(--border-size) solid var(--off-black);
  border-radius: var(--rounded-edges);
  background-color: var(--red);
  color: var(--off-black);
  transition: var(--hover);
  padding: 0.5rem;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background-color: black;
    color: var(--red);
  }

  &:disabled {
    color: var(--charcoal);
    background-color: var(--charcoal);
    cursor: not-allowed;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
