.callToAction {
  border: 1px solid var(--red);
  background-color: var(--red);
  color: var(--white);
  padding: 0.8rem;
  border-radius: 9px;
  cursor: pointer;
  transition: var(--hover);

  &:hover {
    background-color: var(--white);
    color: var(--red);
  }

  &:disabled {
    background-color: var(--charcoal);
    border-color: var(--black);
    color: var(--white);
    cursor: not-allowed;
  }
}
