.navLinks {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;

  .navLink {
    transition: var(--hover);
    border-bottom: var(--border-size) solid transparent;
    color: var(--white);

    &.active,
    &:hover {
      border-color: var(--red);
    }
  }
  button {
    font-size: 1.3rem;
  }

  @media screen and (max-width: 750px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
  }
}

@font-face {
  font-family: 'Bebas';
  src:
    url('../../assets/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype'),
    url('../../assets/Bebas_Neue/BebasNeue-Regular.woff') format('woff'),
    url('../../assets/Bebas_Neue/BebasNeue-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.header {
  background-color: var(--black);
  height: var(--header-height);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;

  .headerContent {
    padding: 1rem var(--horizontal-padding);
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    margin: auto;

    .logoContainer {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.7rem;
      word-wrap: break-word;
      width: 20rem;
      color: var(--white);
      cursor: pointer;

      .logo {
        height: 4rem;
      }

      p {
        font-family: 'Bebas', sans-serif;
        font-weight: 400;
        font-style: normal;
        display: flex;
        flex-wrap: wrap;

        .after {
          font-size: 1.4rem;
        }
      }
    }
  }
}

.mobileNavDrawer {
  background-color: var(--black);
  & > div {
    top: 5.2rem;
  }

  & > div:nth-of-type(2) {
    section {
      height: calc(100dvh - 5.2rem);
      background-color: var(--black);

      & > div {
        height: 100%;
        padding: var(--horizontal-padding);
      }
    }
  }
}
