.footer {
  padding: var(--vertical-gap) var(--horizontal-padding);
  background-color: var(--black);
  color: var(--white);
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  flex-direction: column;

  .copyright {
    text-align: center;
  }

  .follow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    p {
      width: 20rem;
      font-size: 1.2rem;
    }

    button {
      background-color: var(--red);
      color: var(--white);
      font-size: 1.1rem;
      border: 1px solid var(--red);
      border-radius: var(--rounded-edges);
      transition: var(--hover);
      padding: 1rem;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        background-color: var(--white);
        color: var(--red);
      }
    }
  }
}
.subscribeModal {
  h2 {
    font-size: 1.3rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .doubleFields {
      display: flex;
      gap: 1rem;

      & > * {
        flex: 1;
      }
    }

    .buttons {
      display: flex;
      gap: 1rem;
      justify-content: flex-end;

      .submit {
        border: 1px solid var(--red);
        border-radius: var(--rounded-edges);
        background-color: var(--red);
        color: var(--white);
        transition: var(--hover);
        padding: 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: var(--white);
          color: var(--red);
        }

        &:disabled {
          color: var(--white);
          background-color: var(--charcoal);
          cursor: not-allowed;
        }
      }

      .cancel {
        border: 1px solid var(--red);
        border-radius: var(--rounded-edges);
        background-color: var(--black);
        color: var(--red);
        transition: var(--hover);
        padding: 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: var(--red);
          color: var(--black);
        }
      }
    }
  }
}
