.viewContent {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-gap);
}

.Mission {
  align-items: flex-start;

  .videoContainer {
    width: 100%;
    height: 65vh;
    position: relative;
    overflow: hidden;
    border-radius: var(--rounded-edges);
    border: 1px solid var(--black);
    box-shadow: var(--box-shadow);

    ::before {
      content: '';
      display: block;
      padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  p {
    margin: 0;
  }

  button {
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;

    span {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.Explanation {
  .explContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;

    article {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  img {
    border: 1px solid var(--black);
    border-radius: var(--rounded-edges);
    // box-shadow: var(--box-shadow);
  }

  @media screen and (max-width: 1100px) {
    .explContent {
      grid-template-columns: 1fr;
    }
    img {
      width: auto;
      margin: auto;
    }
  }

  @media screen and (max-width: 750px) {
    img {
      height: 25rem;
    }
  }
}

.Testimonials {
  .testimonialContainer {
    display: grid;
    grid-template-columns: 1fr 0.75fr;
    grid-gap: var(--vertical-gap);

    article {
      background-color: var(--black);
      color: var(--white);
      padding: 2rem;
      border-radius: var(--rounded-edges);
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: var(--vertical-gap);

      cite {
        font-weight: 500;
      }
    }

    section {
      display: flex;
      flex-direction: column;
      gap: var(--vertical-gap);
    }

    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr;

      section {
        flex-direction: row;
      }
    }

    @media screen and (max-width: 850px) {
      section {
        flex-direction: column;
      }
    }
  }
}

.Donate {
  .donationContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;

    article {
      display: flex;
      flex-direction: column;
      gap: var(--vertical-gap);

      b {
        color: var(--red);
        font-weight: 700;
      }

      em {
        color: var(--white);
        font-weight: 500;
      }
    }

    .ctaContainer {
      border-radius: var(--rounded-edges);
      background-color: rgba(233, 28, 0, 0.25);
      padding: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: fit-content;
      gap: var(--vertical-gap);
    }
  }

  @media screen and (max-width: 1000px) {
    .donationContainer {
      grid-template-columns: 1fr;
    }
  }
}
