.viewContent {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-gap);
}

.Mission {
  position: relative;
  height: 100dvh;

  :global(.pageContent) {
    margin: var(--vertical-offset) auto;
  }

  .heroCard {
    width: clamp(18rem, 50vw, 30rem);
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(58 55 55 / 40%);
    box-shadow: 7px 7px 15px 5px rgb(58 55 55);
    color: var(--white);

    h1 {
      font-size: clamp(2rem, 2.5vw, 3rem);
      font-weight: 600;
    }

    p {
      margin: 0;
      font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    }

    button {
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: 600;
      width: fit-content;
      margin-top: 2rem;
      border: 1px solid var(--black);
      background-color: var(--black);

      span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      &:hover {
        color: var(--charcoal);
        background-color: var(--white);
      }
    }
  }

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    filter: grayscale(0.5);
    transform: scaleX(-1);
    object-fit: cover;
  }

  @media screen and (max-width: 750px) {
    .heroCard {
      width: 100%;

      button {
        width: 100%;
        text-align: center;

        span {
          justify-content: center;
        }
      }
    }

    img {
      background-color: rgba(58, 55, 55, 0.6);
      box-shadow: 5px 5px 15px 5px rgb(58, 55, 60);
      object-position: right;
    }
  }
}

.Explanation {
  height: fit-content;

  h1 {
    margin-bottom: 1rem;
  }

  .explContent {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;

    section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    section:nth-of-type(1) {
      .videoContainer {
        flex: 2.5;
        position: relative;
        overflow: hidden;
        border-radius: var(--rounded-edges);
        border: 1px solid var(--black);
        box-shadow: var(--box-shadow);
        min-height: 25vh;

        ::before {
          content: '';
          display: block;
          padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
        }

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: none;
        }
      }

      article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;

        p {
          height: 100%;
        }

        @media screen and (max-width: 750px) {
          grid-template-columns: 1fr;
        }
      }
    }

    section:nth-of-type(2) {
      flex: 1;

      img {
        flex: 2.5;
        border-radius: var(--rounded-edges);
        height: clamp(1rem, 10vw, 2rem);
      }

      article {
        flex: 1;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .explContent {
      grid-template-columns: 1fr;
      section {
        &:nth-of-type(1) {
          flex: initial;
          min-height: 100dvh;
        }
        &:nth-of-type(2) {
          flex: initial;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

          img {
            height: unset;
            width: 100%;
          }
        }
      }
    }
  }
}

.Testimonials {
  min-height: 100dvh;
  height: fit-content;

  h1 {
    margin-bottom: 1rem;
  }

  .list {
    position: relative;
    margin-bottom: var(--mantine-spacing-md);
    padding-right: 1rem;
  }

  .indicator {
    background-color: var(--white);
    border-radius: var(--rounded-edges);
    border: 1px solid var(--charcoal);
    box-shadow: var(--mantine-shadow-sm);

    @mixin dark {
      background-color: var(--black);
      border-color: var(--charcoal);
    }
  }

  .tab {
    z-index: 1;
    font-weight: 500;
    transition: color 100ms ease;
    color: var(--white);
    transition: var(--hover);

    &:hover {
      color: var(--red);
    }

    &[data-active] {
      color: var(--black);
    }

    @mixin dark {
      color: var(--black);

      &[data-active] {
        color: var(--white);
      }
    }
  }
}

.Donate {
  position: relative;
  min-height: 100dvh;
  height: fit-content;

  h1 {
    margin-bottom: 1rem;
  }

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    filter: grayscale(0.5);
    object-fit: cover;
  }
  .donationContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: clamp(20rem, 100%, 40rem);
    padding-top: 2.5rem;

    article {
      display: flex;
      flex-direction: column;
      gap: var(--vertical-gap);
    }

    .sensei {
      background-color: transparent;
      color: var(--white);
      border: none;
      padding: 0;
      font-weight: bold;

      :global(.citation) {
        margin-top: 0;
        color: var(--white);
      }
    }

    button {
      margin-top: 1rem;
      font-weight: 500;
      width: clamp(15rem, 75%, 30rem);
    }
  }

  @media screen and (max-width: 1000px) {
    .donationContainer {
      grid-template-columns: 1fr;
    }
  }
}
